# MASTADON_API_DATA_CRAWLER_CONFIG
MASTODON_BASE_URL=https://mastodon.social
API_TIMEOUT=30
HASHTAG="ai"

# accepts "hours" or "days"
TIME_PERIOD_UNIT=days
# number of time units to look back (default is 1)
TIME_PERIOD_VALUE=7
# number of toots per API request (max 40)
TOOTS_LIMIT_PER_PAGE=40

SENTIMENT_MODEL_NAME=cardiffnlp/twitter-roberta-base-sentiment-latest
SENTIMENT_MODEL_THRESHOLD=0.75

#accepts "true" or "false"
NOTIFY_VIA_DISCORD=true
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_TOKEN
# Metabase Security (IMPORTANT: Change in production)
METABASE_SECRET_KEY=PRODUCTION_SECRET_KEY

DATABASE_NAME=YOUR_DATABASE_NAME
DATABASE_USER=YOUR_DATABASE_USER
DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
DATABASE_HOST=YOUR_DATABASE_HOST
DATABASE_PORT=YOUR_DATABASE_PORT
BRONZE_DATABASE_SCHEMA_NAME=YOUR_BRONZE_DATABASE_SCHEMA_NAME
BRONZE_DATABASE_TABLE_NAME=YOUR_BRONZE_DATABASE_TABLE_NAME
SILVER_DATABASE_SCHEMA_NAME=YOUR_SILVER_DATABASE_SCHEMA_NAME
GOLD_DATABASE_SCHEMA_NAME=YOUR_GOLD_DATABASE_SCHEMA_NAME